# Created by venv; see https://docs.python.org/3/library/venv.html

# ignore everything inside Attui
Attui/.vscode/*
Attui/bin/*
Attui/etc/*
Attui/lib/*
Attui/lib64/*
Attui/share/*

.streamlit/
__pycache__/
*.pyc
# Specifically ensure secrets are never tracked, even if moved
**/secrets.toml